---
const { lat, lng, zoom, width = "100%", height = "320px" } = Astro.props;
const src = `https://www.google.com/maps/embed/v1/place?key=AIzaSyCVwL3u_MsAKgr8mu1AFw1Ddhew5oLGbLk&q=Bucharest`;
---
<div class="w-full overflow-hidden rounded-lg shadow-lg">
  <iframe
    client:only="astro"
    width="100%"
    height={height}
    style="border:0;"
    loading="lazy"
    allowFullScreen
    referrerpolicy="no-referrer-when-downgrade"
    src={src}>
  </iframe>
</div>
